/*
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
*/
div.R{font-size:100px;}
div.c{clear:left;margin-bottom:1em;text-align:center;}
p{display:inline;}
body *{font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'}
div.mainttl{
  background:linear-gradient(-210deg, rgb(205, 255, 209), rgb(0, 119, 16));
  width:calc(100% -3vw);
  height:110%;
  border-right:solid 3vw rgb(0, 119, 16);
}
div.mainbase{
  width:100%;
  text-align:center;
  height:6vh;
  padding-top:1vh;
  font-size:1.8em;
  font-weight:bold;
  color:rgb(102, 102, 102);
}
div.mains{
  margin-top:1vh;margin-left:3vw;
  width:calc(100% - 0.6em -1px);
  border:none;
  height:10vh;
  margin-bottom:0.6em;
  border-top-left-radius:0.8em;
  border-bottom-left-radius:0.8em;
}
div.mainball{
  text-align:center;
  padding-top:2vw;
  position:absolute;
  margin-left:2.0vw;
  margin-top:4vw;
  color:black;
  width:9vw;
  height:9vw;
  border-radius:8vw;
  text-align:center;
  vertical-align: bottom;
}
div.ballNumber{
  height:3.5vw;
  width:3.5vw;
  background:white;
  border-radius:3vw;
  margin-left:2.8vw;
  margin-top:0.8vw;
  font-weight:bold;
  font-size:1.8em;
}
div.main{
  position:absolute;
  width:calc(100%-10vw);
  height:10vh;
  margin-left:10.8vw;
  margin-top:2.8vh;
}
input.mainsubmit{
  position:relative;
  width:calc(80vw);
  height:10vh;
  background:none;
  border:none;
  font-size:3vh;
  font-weight:bold;
  text-align:left;
}
a.mainsubmit{
  position:relative;
  width:calc(80vw);
  background:none;
  font-size:3vh;
  font-weight:bold;
  text-align:left;
  text-decoration: none;
  color: black;
}
