body *{font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'}
body { font-size: 2.0vh; }
@media screen and [max-width:480px] {
  body { font-size: 2.5vh; }
}
div.menu{
  text-align:center;
  margin-top:2vh;
  padding-top:0.1em;
  clear:left;
  width:100%;
  background:none;
  color:rgb(102, 102, 102);
  font-weight: bold;
}
div.title{
  margin-top:2vh;
  width:96vw;
  height:70vh;
  background:linear-gradient(160deg, rgb(204, 255, 63), rgb(255, 43, 244));
}
div.main{
  height:8vh;
  margin-left:7vw;
  margin-top:2vh;
}
div.input1,div.input2,div.input3,div.input4,div.input5,div.input6{
  position:absolute;
  height:8vh;
  width:73vw;
  overflow:hidden;
  margin-top:6vh;
  border-left:solid 8vw;
  border-color:grey;
}
input.inputitem,select.inputitem,a.gotoMenu{
  font-weight:bold;
  position:relative;
  height:60%;
  width:100%;
  background:none;
  border:none;
}
input.submititem{
  font-weight:bold;
  position:relative;
  height:100%;
  width:100%;
  background:none;
  border:none;
}
div.input1{
  background:linear-gradient(0deg, rgb(184, 184, 184), rgb(184, 184, 184));
}
div.input2{
  background:linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.75));
}
div.input3{
  background:linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.75));
}
div.input4{
  background:linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.75));
}
div.input5{
  background:linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.75));
}
div.input6{
  background:linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.75));
}
a.gotoMenu{
  position:relative;
  width:100%;
  height:100%;
  background:none;
  border:none;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  vertical-align: center;
  color: black;
}
