body { font-size: 1.5vh; }
@media screen and [max-width:480px] {
  body { font-size: 1.5vh; }
}
div.menu{
  text-align:center;
  margin-top:2vh;
  font-size:1.8em;
  padding-top:0.1em;
  clear:left;
  width:100%;
  background:none;
  color:rgb(102, 102, 102);
  font-weight: bold;
}
div.title{
  clear:left;
  width:100%;
  height:100%;
  text-align:center;
  background:linear-gradient(-135deg, rgb(118, 255, 130), #9941D8);
}
div.entryDate{
  overflow:hidden;
  height:8vh;
  Width:100%;
  clear:left;
  margin-bottom:1vh;
}
div.scoreMain{
  Width:100%;
  clear:left;
  border:none;
  margin-left:1.2vw;
}
div.matchResult{
  width:38%;
  float:left;
  border:solid white;
  margin-bottom:1vh;
  margin-left:2vw;
  border-radius:2vw;
}
div.p1Name,div.p1Class,div.p1Score,div.p1Masu{
  background:rgba(199, 199, 199, 0.527);
  overflow:hidden;
  height:8vh;
  margin-bottom:1vh;
  margin-left:1.4vw;
  width:90%;
  border-radius:1vw;
}
select.p1Name{
  font-size:1.8em;
  height:50%;
  background:none;
  border:none;
}
input.entryDate,select.p1Name,input.p1Class,input.p1Score,select.p1Masu,input.a1btns{
  font-size:1.8em;
  height:100%;
  background:none;
  border:none;
}
input.p1Score,input.p1Refine{
  font-size:1.8em;
  height:100%;
  background:none;
  border:1px;
}
div.p1Name{
  margin-top:1vh;
}
div.a1btns{
  margin-left:3vw;
  overflow:hidden;
  height:8vh;
  Width:90%;
  clear:left;
  margin-bottom:1vh;
  border:none;
  background:linear-gradient(180deg, rgba(224, 224, 224, 0.486), rgba(100, 100, 100, 0.486));
  border-radius:2vw;
}
div.a1winner,div.p1Winner{
  font-size:1.8em;
  font-weight:bold;
  overflow:hidden;
  height:8vh;
  margin-bottom:1vh;
  margin-left:1.4vw;
  width:90%;
  border-radius:1vw;
}
div.a1winner{
  background:rgba(199, 199, 199, 0.527);
}
div.p1Winner{
  color:red;
  background:linear-gradient(160deg, rgb(212, 181, 0), rgb(233, 255, 106));
}
div.p1Loser{
  color:blue;
  background:linear-gradient(160deg, rgb(0, 155, 0), rgb(170, 255, 170));
}
div.p1Center{
  width:10%;
  float:left;
  border:none;
  margin-left:2vw;
}
div.p1VS{
  margin-top:22vh;
  font-size:1.8em;
  font-weight:bold;
}
a.gotoMenu{
  position:relative;
  width:100%;
  height:100%;
  background:none;
  border:none;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  vertical-align: center;
  color: black;
  font-size:1.8em;
}
