{% extends "authlayout.html" %}

{% block content %}
<form name="entryForm" method="POST" target="_self" action="auth.php">
<p>パスワード？<br>
<input type="password" name="password" value=""></p>
<input class="a1btns" type="submit" name="a1submit" value="送信">
</form>
{% endblock %}
