{% extends "registlayout.html" %}
{% block content %}
<form name="entryForm" method="POST" target="_self" action="regist.php">
  <div class="menu">メンバー登録</div>
  <div class="title">
    <div class="main">
      <!-- No. -->
      <div class="input1">
        <input class="inputitem" type="text" name="memberno" value="{{ no }}" disabled="disabled">
        <!--<input type="hidden" name="a4No" value="<?php if($_POST['a4No']<>Null){echo $_POST['a4No'];}else{echo "No";};?>">-->
    </div>
  </div>
  <div class="main">
    <div class="input2">
      <!-- ニックネーム -->
      <label for="membername">ニックネーム：</label>
      <input class="inputitem" type="text" name="membername" value="{{ name }}">
      {% if result == 'success' %}
        <script>
          window.onload = function(){
            window.alert('登録に成功しました');
          }
        </script>
      {% endif %}
    </div>
  </div>
  <div class="main">
    <div class="input3">
      <label for="memberclass">クラス：</label>
      <select class="inputitem" name="memberclass">
        {% if class == 'UC' %}
          <option value="UC" selected><p name="memberclass">UC</p></option>
        {% else %}
          <option value="UC"><p name="memberclass">UC</p></option>
        {% endif %}
        {% if class == 'C' %}
          <option value="C" selected><p name="memberclass">C</p></option>
        {% else %}
          <option value="C"><p name="memberclass">C</p></option>
        {% endif %}
        {% if class == 'B' %}
          <option value="B" selected><p name="memberclass">B</p></option>
        {% else %}
          <option value="B"><p name="memberclass">B</p></option>
        {% endif %}
        {% if class == 'A' %}
          <option value="A" selected><p name="memberclass">A</p></option>
        {% else %}
          <option value="A"><p name="memberclass">A</p></option>
        {% endif %}
        {% if class == 'SA' %}
          <option value="SA" selected><p name="memberclass">SA</p></option>
        {% else %}
          <option value="SA"><p name="memberclass">SA</p></option>
        {% endif %}
      </select>
    </div>
  </div>
  <div class="main">
    <div class="input4">
      <label for="membersex">性別：</label>
      <select class="inputitem" name="membersex">
        {% if sex == '男' %}
          <option value="男" selected><p name="sex">男</p></option>
        {% else %}
          <option value="男"><p name="sex">男</p></option>
        {% endif %}
        {% if sex == '女' %}
          <option value="女" selected><p name="sex">女</p></option>
        {% else %}
          <option value="女"><p name="sex">女</p></option>
        {% endif %}
      </select>
    </div>
  </div>
  <div class="main">
    <div class="input5">
      <input class="submititem" type="submit" name="membersubmit" value="登　録">
    </div>
  </div>
  <div class="main">
    <div class="input6">
      <a class="gotoMenu" href="/maintenance">メニューへ戻る</a>
    </div>
  </div>
</form>
{% endblock %}
